//! **************************************************************************
// Written by: Map J.36 on Wed Mar 04 09:39:36 2015
//! **************************************************************************

SCHEMATIC START;
COMP "A" LOCATE = SITE "G18" LEVEL 1;
COMP "B" LOCATE = SITE "H18" LEVEL 1;
COMP "C" LOCATE = SITE "K18" LEVEL 1;
COMP "Y" LOCATE = SITE "J14" LEVEL 1;
SCHEMATIC END;
