NET "clk"   LOC = "B8";

# Switches
NET "switches<0>" LOC = "G18";
NET "switches<1>" LOC = "H18";
NET "switches<2>" LOC = "K18";
NET "switches<3>" LOC = "K17";
NET "switches<4>" LOC = "L14";
NET "switches<5>" LOC = "L13";
NET "switches<6>" LOC = "N17";
NET "switches<7>" LOC = "R17";

# Seven Segment Display
NET "segments<0>" LOC = "L18";
NET "segments<1>" LOC = "F18";
NET "segments<2>" LOC = "D17";
NET "segments<3>" LOC = "D16";
NET "segments<4>" LOC = "G14";
NET "segments<5>" LOC = "J17";
NET "segments<6>" LOC = "H14";

# Anodes
NET "anodes<0>" LOC = "F15";
NET "anodes<1>" LOC = "C18";
NET "anodes<2>" LOC = "H17";
NET "anodes<3>" LOC = "F17";

NET "control<0>" LOC = "B18";
NET "control<1>" LOC = "D18";

NET "carry_in" LOC = "H13";